.block-background {
    box-shadow: 4px 10px 20px 5px rgba(0, 0, 0, 0.39);
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

td {
    padding: 5px;
}

@media (max-width: 900px) {
    .adaptive-grid {
        display: block;
        padding: 0 !important;
    }
    .adaptive-col {
        max-width: 100%;
        display: block;
    }
    .hide-it {
        display: none !important;
    }
    .block-background {
        box-shadow: unset;
    }
    .adaptive-nav {
        height: 10vh !important;
    }
}


.dash-debug-menu__outer, .dash-debug-menu {
    display: none !important;
}

.main_container {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    /* margin: auto; */
    /* min-height: 100vh; */
    overflow: hidden;
}

.form-label {
    margin-bottom: 0;
}