.boxx {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  
  .boxx .roww.fit-content {
    flex: 0 1 auto;
  }
  
  .boxx .roww.fill-remain {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;

    overflow-y: scroll;
    padding-right: 15px;
  }




.messages-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 100%;
}

.message-float-left,
.message-float-right,
.message-float-full {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.message-content-left,
.message-content-right,
.message-content-full {
    display: flex;
    max-width: 45%;
    word-wrap: normal;
    border-radius: 15px;
    padding: 5px;
    align-items: flex-end;
    flex-direction: column;
    /* min-width: 10%; */
}

.message-content-full {
    max-width: 100%;
    width: 100%;
    display: block;
}

.message-float-left,
.message-content-full{
    flex-direction: row;
    text-align: left;
}
.message-content-left{
    background-color: var(--bs-gray-300);
}

.message-float-right {
    flex-direction: row-reverse;
    text-align: right;
}
.message-content-right{
    border: 1px solid #1C6EA4;
}


.message-main-text,
.message-time {
    padding: 3px;
}
.message-time {
    color: var(--bs-gray-700);
    display: none;
}