.boxx {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
  }
  
  .boxx .roww.fit-content {
    flex: 0 1 auto;
    width: 100%;
  }
  
  .boxx .roww.fill-remain {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;

    overflow-y: auto;
    padding-right: 15px;
  }




.messages-box {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    flex-wrap: nowrap;
    width: 100%;
    gap: 10px;
}

.message {
    border: solid;
    width: 100%;
    padding: 0 5px;
    height: fit-content;
    text-align: left;
    position: relative;
    margin-bottom: 0 !important;
}
.message-hover:hover {
    background-color: var(--bs-table-hover-bg);
}

.message-time {
    position: absolute;
    color: var(--bs-secondary);
    bottom: 0;
    right: 0;
    padding: 5px;
}